  <!-- <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <buttion type="button", class="navbar-toggle collapsed" data-target="#navbar" afia-exppand="false" afia.controls="navbar">
          <span class="sr-only"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </buttion>
        <a class="navbar.brand" href="#">VegetarianRecipes</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="/">HomePage</a></li>
          <li><a href="/favorites">Favorites</a></li>
          <li><a href="/recipes">Recipes</a></li>
        </ul>
      </div>
    </div>
  </nav> -->






<!-- <nav class="navbar navbar-default">
  <div class="container-fluid">
     Brand and toggle get grouped for better mobile display 
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Brand</a>
    </div>
  </div>
</nav> -->