<!doctype html>
<html>
<head>
	<meta charset="utf-8">
    <title>Recipes</title>
	     <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
	</script>

	<script
	  src="https://code.jquery.com/jquery-3.3.1.js"
	  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
	  crossorigin="anonymous">
	</script>
</head>
<body>
	 
	<div>
  		{% for flash in get_flashed_messages() %}
    		<div>{{ flash }}</div>
  		{% endfor %}

  	{% include '/_navbar.html' %}
  	<div class="container">
	{% block content %}{% endblock %}
	</div>
	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
     
    
	</div> 
</body>
</html>


