{% extends 'base.html' %}
{% block content %}
	<!-- <div>
		<h2>{{ details['title'] }}</h2>
		<h2>Cooking Time In Minutes:&nbsp;{{ details['readyInMinutes'] }}</h2>
		<h2>Servings:&nbsp;{{ details['servings'] }}</h2>
		<img src="{{ details['image'] }}" alt="{{ details['title']}} weidth="100">
		<h2>Instructions:</h2>
		<p>{{ details['instructions'] }}</p> -->
		<!-- <h2>{{details['title']}} image:</h2>
		<br><br>
		<button
			id ="remove-button"
			data-recipe-id="{{ details['id'] }}"
			class="remove-recipe"
			type="button">Remove Recipe
		</button>
		<div id="recipe-message" ></div>
	<div>
 -->
 
<div class="bg_picture6"></div>
<div class="container">
	<div class="row">

		<div class="col-12">
			<div class="col-12">
					<h2 class="recipe">{{ details['title'] }}</h2><br> 	
					<div class="recipe1">
					<img src="{{ details['image'] }}" alt="{{ details['title']}} width="50">
					</div>
					<h4>Cooking Time In Minutes:&nbsp;{{ details['readyInMinutes'] }}</h4>
					<h4>Servings:&nbsp;{{ details['servings'] }}</h4>
					<h2>Instructions:</h2>
					<p>{{ details['instructions'] | safe }}</p>
					<button
						id ="remove-button"
						data-recipe-id="{{ details['id'] }}"
						class="remove-recipe"
						type="button">Remove Recipe
					</button>
				<div id="recipe-message">
			</div>
		</div>
	</div>
</div>


	<script type="text/javascript">
		function changeResults(results) {
			console.log(results);
			div_tag = $('#recipe-message')
			div_tag.html("Recipe Removed!");
			alert("Recipe Removed!")
			window.location ="/favorites"
		}

		function removeRecipe(evt) {
			let element = $(evt.target);
			
			let data = element.data();
			console.log("remove recipe");
	
			$.post("/remove", data, changeResults);	
		}
		
		$("#remove-button").on("click", removeRecipe);

	</script> 
{% endblock %}
 