{% extends 'base.html' %}
{% block content %}
<div class="bg_picture5"></div>
<div class="spaced" style="width:40%">
<br><br><br><br><br><br><br><br><br><br><div id="homepage-block"
   id="homepage-title"><h1>Welcome to World Wide Recipes</h1>
   
 	  <h3><div>
			{% if "user_id" in session %}
			<ul>
			  <li><a href="/search">View All Recipes</a></li>
			  <li><a href="/favorites">View Favorites</a></li>
				<li><a href="/logout">Logout</a></li>
			</ul>
			{% else %}
			<ul>
				<li><a href="/register">Register</a></li>
				<li><a href="/login">Login</a></li>
			</ul>
			{% endif %}
	</div></h3>  
{% endblock %}

 