{% extends 'base.html' %}
{% block content %}
<div id="recipes-list">

	{% if not recipes %}
		<div>
			<h3>No Results For Your Search Try with some other words.</h3>
		</div>
	{% endif %}
	
	{% for id, details in recipes.items() %}
	<div>
		<h2>{{ details['title'] }}</h2>
		<h2>Cooking Time In Minutes:&nbsp;{{ details['readyInMinutes'] }}</h2>
		<h2>Servings:&nbsp;{{ details['servings'] }}</h2>
		<div class="container">
			<div class="row">
				<div class="col-4 offset-2">
					<img src="{{ details['image'] }}" alt="{{ details['title']}} width="100">
				</div>
			</div>

			<div class="row">
				<div class="col-2">
					<h2>Instructions:</h2>
				</div>
			</div>
		<p>{{ details['instructions'] | safe }}</p>
		<!-- <h2>{{details['title']}} image:</h2> -->
		<br><br>
		<button
			data-recipe-id="{{ id }}"
			data-recipe-title="{{details['title']}}"
			data-recipe-url="{{details['sourceUrl']}}"
			class="save-recipe"
			type="button">Save Recipe
		</button>
		<div id='recipe-{{ id }}' ></div>
	<div>
	<hr>
	{% endfor %}

</div>

<script type="text/javascript">

	//displayResults function
	function displayResults(results){
		// select the div with the id recipe- + recipe_id
		// use .html() to insert the message into that div
		console.log(results)
		div_tag = $(`#recipe-${results.recipe_id}`);
		div_tag.html("Recipe Saved!");
	}

	function saveRecipe(evt) {
		evt.preventDefault();
		let element = $(evt.target);
		if (element.hasClass("save-recipe")) {
			let data = element.data();
			console.log('save recipe')
			console.log(data);
			// make a AJAX post request to the server including data
			// after reponse from server is received, alert("Recipe saved!")
			$.post("/save", data, displayResults);
		}		
	}

	$("#recipes-list").on("click", saveRecipe);

</script>
       
{% endblock %}