{% extends 'base.html' %}
{% block content %}
<div class="bg_picture6"></div>
<div id="recipes-list">

	{% if not recipes %}
		<div>
			<h3>No Results For Your Search Try with some other words.</h3>
		</div>
	{% endif %}
	

	<div class="container">
	{% for id, details in recipes.items() %}			
			<div class="row">
				
				<div class="col-12">
					<h2 class="recipe">{{ details['title'] }}</h2><br><br> 
					<!-- <h4>Cooking Time In Minutes:&nbsp;{{ details['readyInMinutes'] }}</h4>
					<h4>Servings:&nbsp;{{ details['servings'] }}</h4> -->
					<div class="recipe1">
					<img src="{{ details['image'] }}" alt="{{ details['title']}}" style="width: 50%">
					</div>
					<h4>Cooking Time In Minutes:&nbsp;{{ details['readyInMinutes'] }}</h4>
					<h4>Servings:&nbsp;{{ details['servings'] }}</h4>
					<h2>Instructions:</h2>
					<p>{{ details['instructions'] | safe }}</p>
					<br><br>
					<button
						data-recipe-id="{{ id }}"
						data-recipe-title="{{details['title']}}"
						data-recipe-url="{{details['sourceUrl']}}"
						class="save-recipe"
						type="button">Save Recipe
					</button> 
					<div id='recipe-{{ id }}' ></div>
				</div> 
				
			</div> <!-- row ends -->
			<hr>
	{% endfor %}
	</div> <!-- container ends -->

</div> <!-- recipies list end -->

<script type="text/javascript">

	//displayResults function
	function displayResults(results){
		// select the div with the id recipe- + recipe_id
		// use .html() to insert the message into that div
		console.log(results)
		div_tag = $(`#recipe-${results.recipe_id}`);
		div_tag.html("Recipe Saved!");
	}

	function saveRecipe(evt) {
		evt.preventDefault();
		let element = $(evt.target);
		if (element.hasClass("save-recipe")) {
			let data = element.data();
			console.log('save recipe')
			console.log(data);
			// make a AJAX post request to the server including data
			// after reponse from server is received, alert("Recipe saved!")
			$.post("/save", data, displayResults);
		}		
	}

	$("#recipes-list").on("click", saveRecipe);

</script>     
{% endblock %}