{% extends 'base.html' %}
{% block content %}

  <!-- <h2>Register New User</h2>
  <h3>
    <form action="/register" method="POST">
      Email: <input type="text" name="email" required><br><br>
      Password: <input type="password" name="password" required><br><br> 
      <input type="submit">
    </form>
  </h3>

 -->





  <div class="bg_picture4"></div>
 <div class="spaced" style="width:40%">
<h1>Register New User</h1>
<form action="/register" method="POST">
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">

  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>

{% endblock %}