
{% extends 'base.html' %}
{% block content %}
<!-- <div class="container">
 <div class="row">
 <div class="col-6">   

 -->
<div>

<div class="bg_picture3"></div>
<div id="search">
<div class="spaced" style="width:40%"><br>
  <h3>Recipe Search Information</h3>
  <form action="/results">

    <!-- Cusine Type: -->
      <select class="form-control form-control-lg" name="cuisine_type">
        <option value="">Cuisine Type</option>
        <option value="african">African</option>
        <option value="chinese">Chinese</option>
        <option value="japanese">Japanese</option>
        <option value="korean">Korean</option>
        <option value="vietnamese">Vietnamese</option>
        <option value="thai">Thai</option>
        <option value="indian">Indian</option>
        <option value="british">British</option>
        <option value="irish">Irish</option>
        <option value="french">French</option>
        <option value="italian">Italian</option>
        <option value="mexican">Mexican</option>
        <option value="spanish">Spanish</option>
        <option value="middle eastern">Middle Eastern</option>
        <option value="jewish">Jewish</option>
        <option value="american">American</option>
        <option value="cajun">Cajun</option>
        <option value="southern">Southern</option>
        <option value="greek">Greek</option>
        <option value="german">German</option>
        <option value="nordic">Nordic</option>
        <option value="eastern european">Eastern European</option>
        <option value="caribbean">Caribbean</option>
        <option value="latin american">Latin American</option>
      </select><br>
      
    <!-- Diet Restrictions: -->
      <select class="form-control form-control-lg" name="diet_restrictions">
        <option value="">Diet Restrictions</option>
        <option value="pescetarian">Pescetarian</option>
        <option value="lacto vegetarian">Lacto Vegetarian</option>
        <option value="ovo vegetarian">Ovo Vegetarian</option>
        <option value="vegan">Vegan</option>
        <option value="vegetarian">Vegetarian</option>
      </select><br>

    <!-- Intolerances: -->
      <select class="form-control form-control-lg" name="intolerances">
        <option value="">Intolerances</option>
        <option value="dairy">Dairy</option>
        <option value="egg">Egg</option>
        <option value="gluten">Gluten</option>
        <option value="peanut">Peanut</option>
        <option value="sesame">Sesame</option>
        <option value="seafood">Seafood</option>
        <option value="shellfish">Shellfish</option>
        <option value="soy">Soy</option>
        <option value="sulfite">Sulfite</option>
        <option value="tree nut">Tree nut</option>
        <option value="wheat">Wheat</option>
      </select><br>
        
    <!-- <input type="submit"><br><br> -->
    <button type="submit" class="btn btn-primary">Submit</button>

  </form>
 
  

<form action="/recipe-by-name">
    <h3>Search By Recipe Name:</h3>
     
  <div class="form-group">
    <label>Enter a Recipe Name:</label>
    <input type="text" name="recipe_name" class="form-control" placeholder="Searching by partial name">

  </div>
   
  <button type="submit" class="btn btn-primary">Submit</button><br><br>
</form>

</div>
</div>

{% endblock %}